# https://w3id.org/examples/simple/ redirects to https://example.com/

#

# ## Contact

# This space is administered by:

#

# Anas Elhounsri

# a.elhounsri@upm.es

# GitHub username: Anas-Elhounsri

RewriteEngine On

# PITFALLS (P001 - P018)

RewriteRule ^P001$ https://anas-elhounsri.github.io/RsMetaCheck-Catalog/#P001 [NE,R=302,L]
RewriteRule ^P002$ https://anas-elhounsri.github.io/RsMetaCheck-Catalog/#P002 [NE,R=302,L]
RewriteRule ^P003$ https://anas-elhounsri.github.io/RsMetaCheck-Catalog/#P003 [NE,R=302,L]
RewriteRule ^P004$ https://anas-elhounsri.github.io/RsMetaCheck-Catalog/#P004 [NE,R=302,L]
RewriteRule ^P005$ https://anas-elhounsri.github.io/RsMetaCheck-Catalog/#P005 [NE,R=302,L]
RewriteRule ^P006$ https://anas-elhounsri.github.io/RsMetaCheck-Catalog/#P006 [NE,R=302,L]
RewriteRule ^P007$ https://anas-elhounsri.github.io/RsMetaCheck-Catalog/#P007 [NE,R=302,L]
RewriteRule ^P008$ https://anas-elhounsri.github.io/RsMetaCheck-Catalog/#P008 [NE,R=302,L]
RewriteRule ^P009$ https://anas-elhounsri.github.io/RsMetaCheck-Catalog/#P009 [NE,R=302,L]
RewriteRule ^P010$ https://anas-elhounsri.github.io/RsMetaCheck-Catalog/#P010 [NE,R=302,L]
RewriteRule ^P011$ https://anas-elhounsri.github.io/RsMetaCheck-Catalog/#P011 [NE,R=302,L]
RewriteRule ^P012$ https://anas-elhounsri.github.io/RsMetaCheck-Catalog/#P012 [NE,R=302,L]
RewriteRule ^P013$ https://anas-elhounsri.github.io/RsMetaCheck-Catalog/#P013 [NE,R=302,L]
RewriteRule ^P014$ https://anas-elhounsri.github.io/RsMetaCheck-Catalog/#P014 [NE,R=302,L]
RewriteRule ^P015$ https://anas-elhounsri.github.io/RsMetaCheck-Catalog/#P015 [NE,R=302,L]
RewriteRule ^P016$ https://anas-elhounsri.github.io/RsMetaCheck-Catalog/#P016 [NE,R=302,L]
RewriteRule ^P017$ https://anas-elhounsri.github.io/RsMetaCheck-Catalog/#P017 [NE,R=302,L]
RewriteRule ^P018$ https://anas-elhounsri.github.io/RsMetaCheck-Catalog/#P018 [NE,R=302,L]

# WARNINGS (W001 - W010)

RewriteRule ^W001$ https://anas-elhounsri.github.io/RsMetaCheck-Catalog/#W001 [NE,R=302,L]
RewriteRule ^W002$ https://anas-elhounsri.github.io/RsMetaCheck-Catalog/#W002 [NE,R=302,L]
RewriteRule ^W003$ https://anas-elhounsri.github.io/RsMetaCheck-Catalog/#W003 [NE,R=302,L]
RewriteRule ^W004$ https://anas-elhounsri.github.io/RsMetaCheck-Catalog/#W004 [NE,R=302,L]
RewriteRule ^W005$ https://anas-elhounsri.github.io/RsMetaCheck-Catalog/#W005 [NE,R=302,L]
RewriteRule ^W006$ https://anas-elhounsri.github.io/RsMetaCheck-Catalog/#W006 [NE,R=302,L]
RewriteRule ^W007$ https://anas-elhounsri.github.io/RsMetaCheck-Catalog/#W007 [NE,R=302,L]
RewriteRule ^W008$ https://anas-elhounsri.github.io/RsMetaCheck-Catalog/#W008 [NE,R=302,L]
RewriteRule ^W009$ https://anas-elhounsri.github.io/RsMetaCheck-Catalog/#W009 [NE,R=302,L]
RewriteRule ^W010$ https://anas-elhounsri.github.io/RsMetaCheck-Catalog/#W010 [NE,R=302,L]

# MAIN CATALOG FALLBACK

RewriteRule ^$ https://anas-elhounsri.github.io/RsMetaCheck-Catalog/ [R=302,L]
